{% extends 'layout.twig' %}

{% block body %}

<div class="container">
<br></br>
<h1>About</h1>
<br>
<h4>This Project is developed for covid-19 data visulization.</h4><br>
<h6 style="color:green;">This project is developed by two students:-</h6><br>
<table class="table table-success table-hover">
    <thead class="thead-dark">
        <th>Name</th>
        <th>Collage Roll No</th>
        <th>Branch</th>
        <th>Batch</th>
        <th>Collage</th>a
    </thead>
    <tr>
        <td>Lucky Kumari</td>
        <td>18010109</td>
        <td>Computer Science & Engineering</td>
        <td>Aug-2018 to May-2022</td>
        <td><a href="http://www.iiitmanipur.ac.in/">Indian Institute of Information Technology, Manipur</a></td>
    </tr>
    <tr>
        <td>Pankaj Kumar Bijarniya</td>
        <td>18010127</td>
        <td>Computer Science & Engineering</td>
        <td>Aug-2018 to May-2022</td>
        <td><a href="http://www.iiitmanipur.ac.in/">Indian Institute of Information Technology, Manipur</a></td>
    </tr>
</table>
</div>

{% endblock %}